.git
.github
.next
node_modules

.env*
!.env.example

coverage
test-results
playwright-report
blob-report
playwright/.cache
playwright/.auth

e2e
**/*.test.ts
**/*.test.tsx
**/*.integration.test.ts

src/generated/prisma
*.tsbuildinfo
npm-debug.log*
Dockerfile
README.md
